<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/src/components/ge.css">
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/fontege.css">

    <title>ge mundial</title>
</head>

<body>
    <div class="geral1">
        <a class="azul" href="">globo.com</a>
        <a class="marrom" href="">g1</a>
        <a class="verde" href="">gE</a>
        <a class="laranja" href="">gshow</a>
        <a class="vermelho" href="">globoplay</a>
        <a class="laranja2" href="">cartola</a>
        <a class="cinza" href="">sportv</a>
        <a class="preto" href="">assine já</a>
        <a class="pretao" href="">conta Globo</a>
    </div>
   
    
    <div class="geral2">
        
        <div>
            <p class="paragrafo">
            Ξ GE  <img class="escudo" src="/public/assets/images/escudo.png" alt="" width="25px">
            <p>
                
            <img src="" alt="">
                
            <h1 class="titulo">FUTEBOL INTERNACIONAL</h1>

            <input class="botao"  type="search" placeholder="🔎 Buscar"> 
    
        </div>


        
    </div>

<div class="geral3">
    <h1 class="texto1">Quem pode se classificar ao <br> Mundial de Clubes de 2025 via <br> Libertadores? Checamos</h1>
    <p class="texto2">Palmeiras, Flamengo e Fluminense já garantiram vaga. Ranking não vale para brasileiros: Grêmio, São Paulo, Atlético-MG e Botafogo só podem chegar ao torneio se ganharem a Libertadores  </p>
    <p class="texto3"> Por Redação do ge — Rio de Janeiro <br>
        
        19/03/2024 12h25  Atualizado há uma semana </p>

    <div class="centro">
    
        
    <div class="imagens">
        <img class="face" src="/public/assets/images/face.png" alt="">
        <img class="passaro" src="/public/assets/images/pasaro.png" alt="">
        <img class="zap" src="/public/assets/images/zap.png" alt="">
        <img class="pato" src="/public/assets/images/pato.png" alt="">
        <img class="com" src="/public/assets/images/com.png" alt="">
        </div>
    </div>
      
        <hr>
   


</div>
    <div class="parte2">
   <P class="p1">O time que ganhar a Copa <br> Libertadores de 2024 vai se classificar <br>para duas outras competições: a <br>Copa Intercontinental em dezembro,<br>que substitui o velho Mundial de <br> Clubes, e a primeira edição do novo <br> Mundial de Clubes, em 2025 – a ser <br>disputado por 32 times, a cada <br> quatro anos. </P>

    <P class="p2">Para este novo torneio, marcado para os EUA entre junho e julho do ano <br> que vem, já estão classificados Palmeiras, Flamengo e Fluminense, por <br> terem vencido a Libertadores em 2021, 2022 e 2023, respectivamente.</P>
    <P class="p3">A Conmebol tem direito a outras três vagas no Mundial de 2025. A seguir, <br> o ge explica como elas podem ser decididas.</P>
</div>
<img class="flu" src="/public/assets/images/flu.png" alt="">

</body>

</html>